<% content_for :title do %>
All Locations
<% end %>
<h4>The following is a list of temperatures from around the United States.</h4>

<table>
  <thead>
    <tr>
      <th>Temperature</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Lat</th>
      <th>Lon</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.temp_f %> &deg;F</td>
        <td><%= location.city %></td>
        <td><%= location.state %></td>
        <td><%= location.zip %></td>
        <td><%= location.lat %></td>
        <td><%= location.lon %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Location', new_location_path %>
